.*.swp
.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.Trash/
.bash_history
.cups/
.dropbox-master/
.dropbox/
.gitconfig
.ipython/
.lesshst
.mozilla/
.mutt/
.mutt_certificates
.muttrc
.pip/
.pylint.d/
.ssh/
.subversion/
Desktop/
Documents/
Downloads/
Dropbox/
Games/
Library/
Movies/
Music/
Pictures/
Public/
backup/
