[submodule ".vim/bundle/jellybeans.vim"]
	path = .vim/pack/myplugs/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/pack/myplugs/start/vim-fugitive
        url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/jshint.vim"]
	path = .vim/pack/myplugs/start/jshint.vim
	url = https://github.com/walm/jshint.vim.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/pack/myplugs/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/vim-teamforge"]
	path = .vim/pack/myplugs/start/vim-teamforge
	url = https://github.com/rtouze/vim-teamforge.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/pack/myplugs/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/pack/myplugs/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/pack/myplugs/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/pack/myplugs/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/pack/myplugs/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-github-colorscheme.git"]
	path = .vim/pack/myplugs/start/vim-github-colorscheme.git
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/pack/myplugs/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/pack/myplugs/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/pack/myplugs/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/pack/myplugs/start/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
