[submodule ".vim/bundle/jellybeans.vim"]
	path = .vim/pack/myplugs/start/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/pack/myplugs/start/vim-fugitive
        url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/pack/myplugs/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule ".vim/bundle/vim-teamforge"]
	path = .vim/pack/myplugs/start/vim-teamforge
	url = https://github.com/rtouze/vim-teamforge.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/pack/myplugs/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/pack/myplugs/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/pack/myplugs/start/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/pack/myplugs/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/pack/myplugs/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-github-colorscheme.git"]
	path = .vim/pack/myplugs/start/vim-github-colorscheme.git
	url = https://github.com/endel/vim-github-colorscheme.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/pack/myplugs/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/goyo.vim"]
	path = .vim/pack/myplugs/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule ".vim/pack/myplugs/start/kotlin-vim"]
	path = .vim/pack/myplugs/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
[submodule ".vim/pack/myplugs/start/Vim-Jinja2-Syntax"]
	path = .vim/pack/myplugs/start/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule ".vim/pack/myplugs/start/vim-vue"]
	path = .vim/pack/myplugs/start/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule ".vim/pack/myplugs/start/vim-svelte"]
	path = .vim/pack/myplugs/start/vim-svelte
	url = https://github.com/evanleck/vim-svelte.git
[submodule ".vim/pack/myplugs/start/vim-toml"]
	path = .vim/pack/myplugs/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule ".vim/pack/myplugs/start/php.vim"]
	path = .vim/pack/myplugs/start/php.vim
	url = https://github.com/StanAngeloff/php.vim.git
[submodule ".vim/pack/myplugs/start/emmet-vim"]
	path = .vim/pack/myplugs/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/pack/myplugs/start/vim-varnish"]
	path = .vim/pack/myplugs/start/vim-varnish
	url = https://github.com/fgsch/vim-varnish.git
[submodule ".vim/pack/myplugs/start/everforest"]
	path = .vim/pack/myplugs/start/everforest
	url = https://github.com/sainnhe/everforest.git
[submodule ".vim/pack/myplugs/start/vim-mustache-handlebars"]
	path = .vim/pack/myplugs/start/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule ".vim/pack/myplugs/vim-blade"]
	path = .vim/pack/myplugs/start/vim-blade
	url = https://github.com/jwalton512/vim-blade.git
