snippet class
class $1:
    """${2:Class comments}"""

    def __init__(self):
        """${3:Init comments}"""
        $0
endsnippet

snippet meth
def $1(self$2):
    """${3:Methods comments}"""
    $0
endsnippet

snippet fun
def $1($2):
    """${3:Function comments}"""
    $0
endsnippet

snippet "3
"""$1"""
$0
endsnippet
