snippet class
class $1:
    """${2:Blah Blah Blah}"""

    def __init__(self):
        """${3:Blah Blah Blah}"""
        $0
endsnippet

snippet meth
def $1(self$2):
    """${3:Blah Blah Blah}"""
    $0
endsnippet

snippet fun
def $1($2):
    """${3:Blah Blah Blah}"""
    $0
endsnippet

snippet "3
"""$1"""
$0
endsnippet
